/* src/styles/FilmsAnalyzed.module.css */

.films {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.films h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.nxtPage {
  background-color: #ff2400;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  text-align: center;
  width: fit-content; 
  transition: background-color 0.1s ease;
  text-decoration: none;
  margin: 2rem auto; /* Center horizontally */
  display: block; /* Ensures it's treated as a block-level element */
}

.nxtPage:hover {
  background-color: #FFB700; 
  box-shadow: 0px 4px 10px rgba(255, 183, 0, 0.7);
  text-decoration: none;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
